@font-face {
  font-family: "AtlasGrotesk";
  font-weight: 700;
  src: url("../fonts/AtlasGrotesk-Black-Web.woff2") format("woff2"),
    url("../fonts/AtlasGrotesk-Black-Web.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "AtlasGrotesk";
  font-weight: 600;
  src: url("../fonts/AtlasGrotesk-Bold-Web.woff2") format("woff2"),
    url("../fonts/AtlasGrotesk-Bold-Web.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "AtlasGrotesk";
  font-weight: 500;
  src: url("../fonts/AtlasGrotesk-Medium-Web.woff2") format("woff2"),
    url("../fonts/AtlasGrotesk-Medium-Web.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "AtlasGrotesk";
  font-weight: 400;
  src: url("../fonts/AtlasGrotesk-Regular-Web.woff2") format("woff2"),
    url("../fonts/AtlasGrotesk-Regular-Web.woff") format("woff");
  font-display: swap;
}