
.info {
  z-index: 3;
}

/* teaser overlay */
.panorama-wrapper {
  position: relative;
  height: 100%;
}

.panorama-wrapper .tour-intro {
  z-index: 3;
  position: relative;
  width: 100%;
  height: 100%;
  animation: fadein2 2s;
}

.panorama-wrapper .tour-welcome {
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  display: block;
  top: 10%;
  right: 0px;
  height: 100%;
  pointer-events: none;
  
}

.panorama {
  animation: fadein2 4s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadein2 {
  0%   {  opacity: 0; }
  50%  {  opacity: 0; }
  100%  { opacity: 1; }
}


.panorama-wrapper .tour-gui-wrapper:not(.visible),
.panorama-wrapper .tour-intro:not(.visible) {
  visibility: hidden;
} 


.panorama-wrapper {
  position: relative;
}

.panorama-wrapper .overlay-gui,
.panorama-wrapper .overlay-map {
  position: absolute;
  display: block;
}

.panorama-wrapper .overlay-gui {
  z-index: 2;
  top: 33%;
  height: 65%;
  right: 0px;
}

.panorama-wrapper .overlay-map {
  z-index: 1;
  right: 0px;
  top: 2%;
  height: 96%;
  opacity: 1;
}

.panorama-wrapper #floorplan-1:not(.visible),
.panorama-wrapper #floorplan-2:not(.visible),
.panorama-wrapper #floorplan-3:not(.visible),
.panorama-wrapper #floorplan-4:not(.visible),
.panorama-wrapper #floorplan-5:not(.visible) {
  visibility: hidden;
}

.panorama-wrapper .panorama {
  z-index: 0;
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
}