
.panorama-wrapper {
  position: relative;
}

.panorama-wrapper .overlay-gui,
.panorama-wrapper .overlay-map {
  position: absolute;
  display: block;
}

.panorama-wrapper .overlay-gui {
  z-index: 1;
  bottom: 10px;
  right: 30px;
  height: 540px;
}

.panorama-wrapper .overlay-map {
  z-index: 2;
  right: 180px;
  bottom: 32px;
  height: 560px;
  opacity: 1;
}

.panorama-wrapper #floorplan-1:not(.visible),
.panorama-wrapper #floorplan-2:not(.visible),
.panorama-wrapper #floorplan-3:not(.visible),
.panorama-wrapper #floorplan-4:not(.visible),
.panorama-wrapper #floorplan-5:not(.visible) {
  visibility: hidden;
}

.panorama-wrapper .panorama {
  z-index: 0;
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
}